header .header-content .header-content-inner #appTitle h1 {
    font-size: 50px;
}

.info-popup {
    color: rgba(5, 2, 46, 0.82);
    background: #dfefc8;
    border: 1px solid #808080;
    padding: 0.5em;
    width: 650px;
    height: 400px;
}

.img_pdng {
    padding: 40px;
}

.test-data {
    color: rgba(255, 255, 255, .7);
    font-size: 16px;
    line-height: 1.5;
}

.column_left {
    float: left;
}

.column_right {
    float: right;
}

.contact .promo-item {
    max-width: 400px;
    padding: 25px 20px;
}

.contact .glyphicon-envelope {
    padding-right: 10px;
}

.application-section .dynamic-section {
    background: #EBF0F3;

    height: 500px;
}

.dynamic-section .page-header {
    padding-bottom: 0;
    margin: 0;
    border-bottom: none;
    height: 81px;
    position: relative;
    padding-top: 25px;
    padding-right: 25px;
}

.dynamic-section .page-inner {
    position: relative;
    padding: 5px 40px 42px 30px;
}


